{{!< default}}
<div class="content">
  <div>
    <h3>Are you sure you want to delete {{hostname}} ({{ip}})?</h3>
    <p>
      <span><a href="/delete/{{ip}}/confirm">Confirm</a> <a href="/listing">Cancel</a></span>
    </p>
  </div>
</div>
