{{!< default}}
<script src="/handlebars.js"></script>
<script id="row-template" src="/row.hbs" type="text/x-handlebars-template"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://ohnoitsyou.net');
  socket.emit('getListing');
  socket.on('client', function(client) {
    document.getElementById('listing').insertAdjacentHTML('beforeend', client);
  });
</script>
<div class="content">
  <table id="listing">
  </table>
</div>
