{{!< default}}

<div class="content">
  <div class="success">
    <h3>Success</h3>
    <p>Record for {{hostname}} ({{ip}}) created</p>
    <p>Return to the <a href="/listing">listing</a></p>
  </div>
</div>
